<header class="d-flex py-3 mb-4 border-bottom" style="align-items: center; justify-content: space-around;">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4"><span class="logo1">Hack</span><span class="logo2">vens</span></span>
    </a>
    <button id="btnSwitch" class="">💡/🌙</button>
    <script defer="defer">
      document.getElementById('btnSwitch').addEventListener('click',()=>{
      if (document.body.getAttribute('data-bs-theme') == 'dark') {
          document.body.setAttribute('data-bs-theme','light')
          document.documentElement.style.setProperty("--logo-color1", "#161616")
      }
      else {
          document.body.setAttribute('data-bs-theme','dark')
          document.documentElement.style.setProperty("--logo-color1", "#fff")

      }
      })
    </script>
  </header>